$header-background-color: #393535;
$header-title-color: #fff;
$notification-color: #f00;
$header-notification-color: #fff;

.header {
  background-color: $header-background-color;

  display: flex;
  flex-direction: column;

  height: $header-height;
  left: 0;
  opacity: .8;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;

  .header-title {
    color: $header-title-color;
    font: 'Garamond';
    font-size: 2rem;
    line-height: 3rem;
  }

  .header-action {
    background: none;
    border: none;
    bottom: 0rem;

    color: $header-title-color;

    font-size: 1rem;

    outline: none;

    position: absolute;

    top: 0rem;
  }
}

.header-notification {
  background: url('../media/notification.png');
  background-size: contain;

  height: 1.75rem;
  position: absolute;

  right: .5rem;
  top: .75rem;

  width: 1.75rem;

  .notification-counter {
    background-color: $notification-color;
    border-radius: 2px;
    bottom: -.2rem;

    color: $header-notification-color;

    font-size: .7rem;
    font-weight: 300;

    height: 1rem;

    line-height: 1rem;

    min-width: 1rem;

    position: absolute;

    right: -.2rem;
  }
}
