$button-background-color: #393535;
$opacity: 0.8;

.menu {
	padding-top: 15vh;
	width: 90vw;
	margin: auto;

	.btn {
		color: white;
		border: 1px solid;
		background-color: $button-background-color;
		opacity: $opacity;
	}
}
