.app {
  background: url("../media/main_background_3.jpg");
  margin: auto;
  width: 100vw;
  height: 100vh; }

.backdrop {
  color: white;
  height: 100vh;
  background: #4d4848;
  mix-blend-mode: multiply;
  font: bolder 2vw 'Alfa Slab One';
  text-align: center;
  margin: 0; }

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.app-header {
  background-color: #222;
  color: #000;
  height: 150px;
  padding: 20px; }

.app-title {
  font-size: 1.5em; }

.app-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.header {
  background-color: #393535;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100vw;
  text-align: center;
  opacity: 0.8; }
  .header .header-title {
    color: #fff;
    font: 'Garamond';
    font-size: 2rem;
    line-height: 3rem; }
  .header .header-action {
    font-size: 1rem;
    background: none;
    color: #fff;
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    outline: none;
    border: none; }
  .header .header-notification {
    background: url("../media/notification.png");
    background-size: contain;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    height: 1.75rem;
    width: 1.75rem; }
    .header .header-notification .notification-counter {
      font-size: 0.7rem;
      font-weight: 300;
      background-color: red;
      color: #fff;
      border-radius: 2px;
      height: 1rem;
      width: 1rem;
      position: absolute;
      bottom: -0.2rem;
      right: -0.2rem; }

.menu {
  padding-top: 15vh;
  width: 90vw;
  margin: auto; }
  .menu .btn {
    color: white;
    border: 1px solid;
    background-color: #393535;
    opacity: 0.8; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
